<app-navbar></app-navbar>

<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>Mazda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mazda</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <h2>Bienvenido a Mazda</h2>
    <p>Mazda, fundada en 1920 en Hiroshima, Japón, es una marca reconocida por su diseño, innovación y experiencia de conducción. A lo largo de su historia, se hizo famosa por el motor rotativo Wankel y deportivos como el RX-7 y RX-8. Hoy mantiene su filosofía “Zoom-Zoom” y ha desarrollado la tecnología Skyactiv, que mejora el rendimiento y eficiencia. Su diseño Kodo: Alma del Movimiento resalta en modelos como el Mazda 3 y el CX-5, posicionando a la marca como una referencia de elegancia, desempeño y movilidad sostenible.</p>
  </div>
</ion-content>