<app-navbar></app-navbar>

<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>Nissan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Nissan</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <h2>Bienvenido a Nissan</h2>
    <p>Nissan es una compañía automotriz japonesa fundada en 1933, reconocida mundialmente por su innovación y amplia gama de vehículos. La marca se ha destacado por modelos emblemáticos como el Sentra, el Altima, la Frontier y el deportivo GT-R, además de ser pionera en movilidad eléctrica con el Nissan LEAF. Actualmente, impulsa su estrategia Nissan Intelligent Mobility, enfocada en la electrificación, la conducción autónoma y la conectividad, consolidándose como una empresa que combina tradición, tecnología y sostenibilidad.</p>
  </div>
</ion-content>